doctype html
html
   head
      title dashboard
      link(rel="stylesheet", href="style.css")
   body
      h1 Welcome to the navigating space, here you can search for new films or take a look to you profile.

      button(type="button") Search a film
      button(type="button") My profile