doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Movies: Editar Película
    link(rel="stylesheet", href="./css/style.css")
    link(rel="shortcut icon", href="./css/favicon.png", type="image/x-icon")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css", integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    header 
      nav#topnav 
          section#topnav-left.topnav-section
              a(onclick="history.back()")#topnav-back.topnav-button
                  i#topnav-back-icon.fa-solid.fa-arrow-left.fa-xl
          h1#page-title.topnav-section Editar película
          section#topnav-right.topnav-section
              a(href="/search")#topnav-search.topnav-button
                  i#topnav-search-icon.fa-solid.fa-magnifying-glass.fa-xl
              a(href="/movies")#topnav-fav.topnav-button
                  i#topnav-fav-icon.fa-solid.fa-heart.fa-xl
              div#topnav-menu.topnav-button
                  i#topnav-menu-icon.fa-solid.fa-bars.fa-xl
      nav#sidenav
          section#sidenav-header 
              div#sidenav-header-close.sidenav-button
                  i#sidenav-header-close-icon.fa-solid.fa-xmark.fa-2xl
          section#sidenav-main 
              ul#sidenav-main-navigation
                  li.sidenav-main-link
                      a(href="/dashboard") Inicio
                  li.sidenav-main-link
                      a(href="/search") Buscador
                  li.sidenav-main-link 
                      a(href="/movies") Mis películas
              //- Here we can add another section with more buttons:
              //- ul#sidenav-main-navigation 
              //-     li.sidenav-main-link Mi perfil
              //-     li.sidenav-main-link Ajustes
          section#sidenav-footer
              span#sidenav-footer-logout Cerrar sesion
    main
      h1 Editar Película
      form#EDIT_form(action="/editMovie/:id" method="PUT")
        label(for='title') Título:
        input(type='text', name='title', required)
        label(for='director') Director:
        input(type='text', name='director', required)
        label(for='year') Año:
        input(type='number', name='year', required)
        label(for='length') Duración:
        input(type='text', name='length', required)
        label(for='image') URL de la imagen:
        input(type='text', name='image', required)
        label(for='genres') Géneros:
        input(type='text', name='genres', required)
        label(for='actors') Actores:
        input(type='text', name='actors', required)
        label(for='trailer') URL del tráiler:
        input(type='text', name='trailer', required)
        label(for='overview') Resumen:
        textarea(name='overview', required)
        button(type='submit') Editar Película
    footer
    script(src="./script.js")
