doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Movies: Editar Película
    link(rel="stylesheet", href="./css/style.css")
    // Otros estilos y metaetiquetas según sea necesario
  body
    main
      h1 Editar Película
      form#edit_movie_form(action='/editMovie/:id', method='put')
        label(for='title') Título:
        input(type='text', name='title', required)
        label(for='director') Director:
        input(type='text', name='director', required)
        label(for='year') Año:
        input(type='number', name='year', required)
        label(for='length') Duración:
        input(type='text', name='length', required)
        label(for='image') URL de la imagen:
        input(type='text', name='image', required)
        label(for='genres') Géneros:
        input(type='text', name='genres', required)
        label(for='actors') Actores:
        input(type='text', name='actors', required)
        label(for='trailer') URL del tráiler:
        input(type='text', name='trailer', required)
        label(for='overview') Resumen:
        textarea(name='overview', required)
        button(type='submit') Editar Película
    footer
    script(src="./script.js")
