doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="./css/favicon.png", type="image/x-icon")
    body

        main
            section#container
                h1.Title MovieApp
                section
                    button(type="button" class="button signUpButton") Sign Up
                section
                    button(type="button" class="button logInButton") Log In
            button(id="signUp" class="switchButton hide signUpButton") Sign Up
            button(id="logIn" class="switchButton hide logInButton") Log In 
            section#signUpContainer.container.hide
                h1.Title MovieApp
                section.formContainer 
                    form(id="signUp" action="/signup" method="POST")
                        label(for="nameSU") name:  
                        input#nameSU(type="text", name="nameSU")
                        label(for="emailSU") email:  
                        input#emailSU(type="text", name="emailSU")
                        label(for="passwordSU") Contraseña:
                        input#passwordSU(type="text", name="passwordSU")
                        button(type="submit" class="blueButton") Sign Up
                    img(src="./css/google.png", alt="Google" class="google")
            section#logInContainer.hide.container
                h1.Title MovieApp
                section.formContainer 
                    form(id="logIn" action="/login" method="POST")
                        label(for="emailLI") email: 
                        input#emailLI(type="text", name="emailLI")
                        label(for="passwordLI") Contraseña:
                        input#passwordLI(type="text", name="passwordLI")
                        button(type="submit" class="blueButton") Log In
                    img(src="./css/google.png", alt="Google" class="google")

        script(src="./script.js") 
    