doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Security-Policy", content="script-src 'self' https://cdn.jsdelivr.net;")
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Inicio
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="./css/favicon.png", type="image/x-icon")
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap', rel='stylesheet')
    body

        main
            section#container
                h1.Title Movie Stack
                button(type="button" class="button signUpButton") Sign Up
                button(type="button" class="button logInButton") Log In
            button(id="signUpButton" class="switchButton hide signUpButton") Sign Up
            button(id="logInButton" class="switchButton hide logInButton") Log In 
            section#signUpContainer.container.hide
                h1.Title Movie Stack
                section.formContainer 
                    form(id="signUp")
                        label(for="nameSU") Nombre:  
                        input#nameSU(type="text", name="nameSU" required)
                        label(for="emailSU") Email:  
                        input#emailSU(type="text", name="emailSU" required)
                        label(for="passwordSU") Contraseña:
                        input#passwordSU(type="password", name="passwordSU" required)
                        button(type="submit" class="blueButton") Sign Up
                    img(src="./css/google.png", alt="Google" class="google")
            section#logInContainer.hide.container
                h1.Title Movie Stack
                section.formContainer 
                    form(id="logIn")
                        label(for="emailLI") Email: 
                        input#emailLI(type="text", name="emailLI" required)
                        label(for="passwordLI") Contraseña:
                        input#passwordLI(type="password", name="passwordLI" required)
                        p#recuperar He olvidado mi contraseña
                        button(type="submit" class="blueButton") Log In
                    img(src="./css/google.png", alt="Google" class="google")
            section#recuperarContainer.hide
                form(id="recuperarForm")
                        label(for="emailR") Email del que deseas Recuperar la contraseña: 
                        input#emailR(type="text", name="emailR" required)
                        button(type="submit" class="redButton") Recuperar contraseña
                        button(type="button" id="volverRecuperar" class="blueButton") Volver
            img(id="logo" src="./img/logo.svg", alt="")

        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
        script(src="./script.js")
    