doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="Content-Security-Policy", content="script-src 'self' https://cdn.jsdelivr.net;")
        title recoverPassword
        link(rel="stylesheet", href="./css/style.css")
        link(rel="shortcut icon", href="./css/favicon.png", type="image/x-icon")
    body

        main
            section#container
                h1.Title MovieApp
                section.formContainer 
                    form(id="recoverPassword")
                        label(for="password1") Escribe tu nueva contraseña:  
                        input#password1(type="password", name="password1" required)
                        label(for="password2") Repite la contraseña:  
                        input#password2(type="password", name="password2" required)
                        button(type="submit" class="blueButton") Enviar
        script(src="./script.js")
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
                    