html
   head
      title tokenExpirado
      link(rel="stylesheet", href="./css/style.css")
      link(rel="shortcut icon", href="./css/favicon.png", type="image/x-icon")
      meta(http-equiv="Content-Security-Policy", content="script-src 'self' https://cdn.jsdelivr.net;")
   body
      script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
      script(src="./script.js")
      