html
   head
      title tokenExpirado
      link(rel="stylesheet", href="./css/style.css")
   body
      script(src="https://cdn.jsdelivr.net/npm/sweetalert2@11")
      script(src="./script.js")
      