doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mis películas
        link(rel="stylesheet", href="./css/style.css")
        //- -----------link para los iconos del nav-------------------
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css", integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==", crossorigin="anonymous", referrerpolicy="no-referrer")
        //------------------------------------------------------------
    body 
        header 
            //---------Navbars----------------------------------------
            nav#topnav 
                section#topnav-left.topnav-section
                    a(onclick="history.back()")#topnav-back.topnav-button
                        i#topnav-back-icon.fa-solid.fa-arrow-left.fa-xl
                h1#page-title.topnav-section Editar película
                section#topnav-right.topnav-section
                    a(href="/search")#topnav-search.topnav-button
                        i#topnav-search-icon.fa-solid.fa-magnifying-glass.fa-xl
                    a(href="/movies")#topnav-fav.topnav-button
                        i#topnav-fav-icon.fa-solid.fa-heart.fa-xl
                    div#topnav-menu.topnav-button
                        i#topnav-menu-icon.fa-solid.fa-bars.fa-xl
            nav#sidenav
                section#sidenav-header 
                    div#sidenav-header-close.sidenav-button
                        i#sidenav-header-close-icon.fa-solid.fa-xmark.fa-2xl
                section#sidenav-main 
                    ul#sidenav-main-navigation
                        li.sidenav-main-link
                            a(href="/dashboard") Inicio
                        li.sidenav-main-link
                            a(href="/search") Buscador
                        li.sidenav-main-link 
                            a(href="/movies") Mis películas
                    //- Here we can add another section with more buttons:
                    //- ul#sidenav-main-navigation 
                    //-     li.sidenav-main-link Mi perfil
                    //-     li.sidenav-main-link Ajustes
                section#sidenav-footer
                    span#sidenav-footer-logout Cerrar sesion
            //------------------------------------------------------------------------
        main 
            h1 Mis películas
            
        footer
        script(src="./script.js")  
